body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100vh;
}

.detail {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 25% 0 0 0;
}

.detail img {
  height: 400px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.detail-product {
  margin-left: 5rem;
}

#color {
  display: block;
  font-size: 2rem;
  font-weight: lighter;
}

#name {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#price {
  font-size: 1rem;
  font-weight: bold;
}

#description {
  color: grey;
  width: 60%;
  font-size: 0.8rem;
  margin: 4rem 0 4rem 0;
}

#size {
  color: grey;
  font-size: x-small;
  text-align: right;
}

#gender {
  display: flex;
  justify-content: end;
  font-size: small;
  color: grey;
  margin-right: 1rem;
}

#material {
  display: flex;
  justify-content: end;
  font-size: small;
  color: grey;
  margin-right: 1rem;
}

#add-to-cart {
  margin-top: 1rem;
  display: block;
  background-color: black;
  color: white;
  height: 3rem;
  width: 8rem;
}

#add-to-cart:hover {
  background-color: white;
  color: black;
}

#add-to-cart:active {
  background-color: aquamarine;
}
